* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html, 
body {
  margin: 0;
}

body {
  background-color: #fff;
  font-family: "Branding SF Narrow", "Phoenica Std", "Trebuchet MS", Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 32px;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

button {
  cursor: pointer;
}

.card {
  height: 180px;
  width: 350px;
  color: #929496;
  background-color: #fff;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.15px;
  box-shadow: 0 0 6px 0.25px #e0e0e0;
  border-radius: 15px;
  padding: 20px;
}

.card__body {
  color: #1f2937;
  text-align: center;
  font-size: 110px;
  font-weight: 900;
  letter-spacing: 5px;
}
