@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html, 
body {
  margin: 0;
}

body {
  background-color: #fff;
  font-family: "Mukta", Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

button {
  cursor: pointer;
}

.card {
  height: 180px;
  width: 350px;
  color: #929496;
  background-color: #fff;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.15px;
  box-shadow: 0 0 6px 0.25px #e0e0e0;
  border-radius: 15px;
  padding: 20px;
}

.card__body {
  color: #1f2937;
  text-align: center;
  font-size: 110px;
  font-weight: 900;
  letter-spacing: 5px;
}

.heading {
  font-size: 50px;
  font-weight: 500;
}

table {
  width: 750px;
  color: #1e2838;
  text-align: center;
  border-radius: 5px 5px 0px 0px;
}

th {
  background-color: #f2f2f2;
  font-size: 16px;
  font-weight: 800;
  padding: 10px;
}

tr.active {
  background-color: #adff2f;
}

td {
  font-size: 18px;
  font-weight: 600;
  padding: 14px 10px;
}
